<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DB_30288_testdbConnectionString" connectionString="Data Source=s09.winhost.com;Persist Security Info=True;User ID=DB_30288_testdb_user;Password=pwd123" providerName="System.Data.SqlClient" />
	<add name="DB_30288_testdbEntities" connectionString="metadata=res://*/App_Code.REDatabase.csdl|res://*/App_Code.REDatabase.ssdl|res://*/App_Code.REDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=s09.winhost.com;Persist Security Info=True;User ID=DB_30288_testdb_user;Password=pwd123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies><buildProviders><add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" /></buildProviders></compilation>
	</system.web>
</configuration>
